<h1>About Us</h1>
<p>DEVLocker is a filesharing project created for the course CS 546 in the Spring 2012 semester at Stevens Institute of Technology. It was a collaborative
project that was the combined efforts of Laura Cerrito, Jackson Kelly, Gregory McLeod, and Alexis Moore. The website is designed to make file sharing simple
and easy for people who want to collaborate on projects together. You can upload files, lock them as you work on them and then unlock them later to show your 
team the work you've done. </p><br />

<h3>Advantages</h3>
<p>What are the advantages of DEVLocker? You can upload everything to our protected database and share it with only the people you want to collaborate with. It's
perfect for small companies, large businesses, and even personal use. Did you make the wrong changes to your file? No problem just go back and restore a previous version
it's that simple. And even better it's completly free.</p><br />

<h3>F.A.Q.</h3>
There have been no questions yet.<br/><br/>