Welcome to the password recovery page!<br/><br/>

Please change your password.<br/><br/>

<FORM action="view_projects.php?view=projects" method="post">
  <table>
    <tr>
      <td colspan=2>Change Password:</td>
    </tr>
    <tr>
      <td width="50"></td><td><input type="text" name="pass"/><br/><br/></td>
    </tr>
    
    <tr>
      <td colspan=2>Confirm Password:</td>
    </tr>
    <tr>
      <td width="50"></td><td><input type="text" name="pass_conf"/><br/><br/></td>
    </tr>
  </table>
  <a href="index.php"><button>Change Password</button></a>
</FORM>